@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-input-error {
        @apply border-red-500 ring-red-500;
    }

    .form-input-success {
        @apply border-green-500 ring-green-500;
    }

    .error-message {
        @apply text-red-600 text-xs mt-1;
    }

    .ltab-panel {
        @apply py-4;
    }

    .card-hover {
        @apply transform transition-transform duration-300 hover:-translate-y-2 hover:shadow-xl;
    }

    label span.required {
        @apply text-red-500;
    }
}